langchain
wikipedia
langchain-community
langchain-openai
langchain-anthropic
python-dotenv
pydantic
langchain-huggingface
sentence_transformers
huggingface_hub
pandas
boto3
matplotlib
hubspot-api-client
crewai
boto3
langchain-ollama
langchain-huggingface